<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

  <test thread-count="5" name="Test"> 
    <classes>
        <class name="testNG.firstClass">
            <methods>
    				  <include name= "Mobile.*" />
 			 </methods>
 		</class>
 			 
     	 <class name="testNG.secondClass">
     		 <methods>
    				  <include name= "secondClassMthod1" />
 			  </methods>
 		 </class>    
    </classes>      
  </test> <!-- Test -->
  
  
  <test thread-count="5" name="anotherTest"> 
  	    <classes>
     		 <class name="testNG.thirdClass">
    			  <methods>
    				  <exclude name= "thirdClassMethod2" />
 				   </methods>     
 			  </class>  			      
   		 </classes>   
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
